:root {
    --background: #181818;
    --secondary-background: #292929;
    --main-text: #F7F7F7;
    --accent1: #ff4722;
    --accent2: #8d4ff8;
    --accent3: #20c997;
    --hover: #ffeb3b;
    --input-bkg: #222;
    --input-bdr: #ccc;
    --input-txt: #555;
}

nav {
    background-color: var(--secondary-background);
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--accent1);
    font-size: 1.25em;
}

nav h1 {
    font-size: 4em;
    margin: 0px 0px 20px 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--background);
    color: var(--main-text);
}

button:hover {
    cursor: pointer;
}

dialog {
    color: inherit;
    background-color: var(--secondary-background);
    border: 0;
}

::backdrop {
    background-color: var(--secondary-background);
    opacity: 0.8;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.movie-container {
    background-color: var(--secondary-background);
    width: 70%;
    padding: 5px 0px 20px 0px;
}

.movie-container .movie-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left:  10px;
    padding-right: 10px;
}

.movie-table-label {margin-left: 45px;}

.edit-movie {
    margin: 0;
}

.movie-form {
    background-color: var(--secondary-background);
    margin: 5px;
}

.movie-form button {
    background-color: var(--input-bkg);
    border: 2px solid var(--input-bdr);
    border-radius: 5px;
}

.movie-form h2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: 20px 0px 25px 0px;
}

.new-movie {
    width: 70%;
    padding-bottom: 40px;
}

.input-fields { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-package input[type="text"] {
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--input-bdr);
    background-color: var(--input-bkg);
    color: var(--input-txt);
    font-size: 1.15em;
    width: 250px;
}

.input-package select {
    font-size: 1.15em;
    width: 250px;
    height: 40px;
    background-color: var(--input-bkg);
    border: 2px solid var(--input-bdr);
    border-radius: 5px;
    color: var(--input-txt);
}

.input-package {
    font-size: 1.5em;
    display: flex;
    margin: 20px 10px;
    justify-content: center;
    align-items: center;
}

.input-package label { padding-right: 8px; }

.movie-form form button { 
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    color: white; 
    font-weight: bold; 
    height: 50px;
    font-size: 1.5em;
    border-radius: 7px;
    transition: 0.1s ease-out;
}

.edit-movie .modal-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-movie .modal-buttons button {
    width: 100%;
    margin: 1rem 2rem;
}

.new-movie form .submit-button { 
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}

.movie-form form .submit-button:hover { 
    background-color: var(--accent2); 
}

.movie-form form .rating-button { 
    border: 0;
    background-color: transparent;
}

.star {
    font-size: 1.5rem;
    color: var(--input-txt);
}

button.star:hover, .star.active { 
    color: #ffdd00;
}

.movie-card {
    background-color: var(--input-bkg);
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px 5px 10px 20px;
    transition: 0.3s ease-out;
}

.movie-card h2 { margin: 4px; color: var(--accen1); }
.movie-card p { margin-top: 5px; margin-bottom: 12px; }
.movie-card .genre-tag { 
    background-color: var(--accent1); 
    border-radius: 5px; 
    font-size: 1.05em; 
    padding: 2px 10px 2px 10px; 
}

.movie-card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-card .icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.movie-card .icon-container {
    background-color: var(--secondary-background);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    color: #fff;
    border: 0;
}

.movie-card #edit:hover, .movie-card #edit.active {
    background-color: var(--hover);
    color: #000;
}

.movie-card #remove:hover, .movie-card #remove.active {
    background-color: var(--accent1);
    color: #000;
}

.movie-card #watched:hover, .movie-card #watched.active {
    background-color: var(--accent3);
    color: #000;
}

.movie-card #watched {
    margin: 0 8px;
}

.movie-card .rating {
    margin-bottom: 0.5rem;
}

.movie-card:hover {
    background-color: var(--accent2);
}

.modify-movie-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sort {
    padding: 20px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.sort p { padding-right: 4px; }

.sort input[type="radio"] { display: none; } /* hides the radio buttons / cirlces themselves */

.sort label {   /* makes the labels look like the buttons */
    padding: 6px 12px;
    font-size: 1.15em;
    border-radius: 4px;
    border: 2px solid var(--input-bdr);
    background-color: var(--input-bkg);
    color: var(--input-txt);
    transition: all 0.2s ease;
    margin:0px;
    width: 250px;
    height: 40px;
}
.sort input[type="radio"]:checked + label {
    background-color: var(--accent2);
    color: white;
    border-color: white;
}

.filter {
    padding: 20px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.filter select {
    font-size: 1.15em;
    width: 250px;
    height: 40px;
    background-color: var(--input-bkg);
    border: 2px solid var(--input-bdr);
    border-radius: 5px;
    color: white;
}

.empty-wishlist {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--input-bdr);
    border-radius: 10px;
}

.empty-wishlist p  { font-size: 1.1em; }
.empty-wishlist h1 { color: var(--accent1); font-size: 2.3em; }
